/* Paleta de colores
:root{
    --primary-color: #1A3263;
    --secondary-color: #F5564E;
    --tertiary-color: #FAB95B;
    --fourthly-color: #E8E2DB;
    --fifthly-color: #FFFFFF;
}



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box
}

html, body {
    padding: 0;
    margin: 0;
    
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


form {
    margin: auto;
    width: 100%;
    max-width: 0px;
    background: #ffffff;
    padding: 30px;
    border: 100px solid rgba(0,0,0,0,2)
    
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 40pt;
    text-decoration: underline;
    text-decoration-color:var(--secondary-color);
    color: rgba(0,0,0,0,5)

}

.register .register__text{
    font-size: 18pt;
    text-align: center;
}

.register .register__text a{
    font-weight: 600;
    color:red;
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .5px solid gray;
    margin-bottom: 25px;

    
}


input[type="submit"]{
    background: linear-gradient(#ffda63, #ffb940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    outline: none;
    
}

input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
    transform: scale(0.95);
}

@media (max-width: 480px){
    form{
        width: 95%;
    }
} */