<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
   <form action=""></form> 
   <h2>Welcome!</h2>
   <input type="text" placeholder="&#128272; Username">
   <input type="password" placeholder="&#128272; Password">
   <p class="register__text down">Did you <a href="#">forgot password?</a></p>
<input type="submit" value="Login">
</body>
</html>