@import './../../css/main.css';
body{
    display: grid;
    place-content: center;
    height: 100vh;
}

.register{
    max-width: 600px;
    height: 60vh;
}

.register .register__title{
    font-size: 40pt;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-align: center;
}

.register .register__text{
    font-size: 18pt;
    text-align: center;
}

.register .register__text a{
    font-weight: 600;
    color: var(--tertiary-color);
}

.register .register__text a:hover{
    color: var(--secondary-color);
}

.up{
    margin-bottom: 5px;
}

.down{
    margin-top: 0px;
}

form{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.form__input{
    background: none;
    width: 65%;
    box-sizing: border-box;
    font-size: 15pt;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .5px solid gray;
    margin-bottom: 25px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    height: 27px;
    position: relative;
}

.form__input input{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    width: 100%;
    position: absolute;
    height: 95%;
    z-index: 2;
}

.form__input input:focus{
    border-bottom: .5px solid var(--acceptance-color);
}

.form__input button{
    width: 12%;
    position: absolute;
    right: 0;
    top: -5px;
    width: 15%;
    outline: none;
    z-index: 3;
    background: none;
    border: none;
    opacity: 0.5;
}

.form__input input {
    border-bottom: .5px solid gray;
}

.form__input button:hover{
    opacity: 1;
};

.form__input:hover{
    border-bottom: .5px solid var(--acceptance-color);
}

.form__input:focus{
    border-bottom: .5px solid var(--acceptance-color);
}

.form__button{
    width: 45%;
    min-height: 40px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: var(--fifthly-color);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: auto 0;
    padding: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button:hover{
    background-color: var(--tertiary-color);
}

.form__button:focus{
    background-color: var(--tertiary-color);
}

.google{
    background-color: var(--fifthly-color);
    color: var(--primary-color);
    border: 2px solid var(--gray-color);
    font-weight: 600;
    background: url('https://img.icons8.com/fluent/48/000000/google-logo.png');
    background-repeat: no-repeat;
    background-position-x: 67px;
    background-position-y: 7px;
    background-size: 24px;
    padding-left: 15px;
}

.google:hover {
    background-color: var(--fifthly-color);
    border: 2px solid var(--primary-color);
}

@media (max-width: 1367px){
    .register{
        height: unset;
    }
}
