<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./user-home.css" />
		<link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/ticket-confirmed.png" type="image/x-icon" />
		<title>Home</title>
	</head>
	<body>
		<section class="home">
			<nav class="home__header">
				<div class="home__header--tabs">
					<button class="tabs__button active-tab open" onclick="openTab(event, 'open')">Open</button>
					<button class="tabs__button" onclick="openTab(event, 'in_progress')">In progress</button>
					<button class="tabs__button" onclick="openTab(event, 'closed')">Closed</button>
				</div>
				<button class="home__header--button">Create ticket</button>
				<div class="home__header--searchbar">
					<input type="text" placeholder="Search" />
				</div>
				<a class="home__header--user" onclick="dropdownMenu()">
					<img
						src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						alt="user image"
					/>
					<ul class="home__header--dropdown">
						<li><a href="./../register/register.html">Log out</a></li>
					</ul>
				</a>
			</nav>
			<section class="home__tickets">
				<div id="open" class="tickets__tab" style="display: block">
					<a class="tickets__tab--ticket" href="#">Ticket open</a>
					<a class="tickets__tab--ticket" href="#">Ticket open</a>
					<a class="tickets__tab--ticket" href="#">Ticket open</a>
				</div>
				<div id="in_progress" class="tickets__tab" style="display: none">
					<a class="tickets__tab--ticket" href="#">Ticket in progress</a>
					<a class="tickets__tab--ticket" href="#">Ticket in progress</a>
					<a class="tickets__tab--ticket" href="#">Ticket in progress</a>
				</div>
				<div id="closed" class="tickets__tab" style="display: none">
					<a class="tickets__tab--ticket" href="#">Ticket closed</a>
					<a class="tickets__tab--ticket" href="#">Ticket closed</a>
					<a class="tickets__tab--ticket" href="#">Ticket closed</a>
				</div>
			</section>
		</section>
		<script src="./../../../controller/pages/user-home.js"></script>
	</body>
</html>
